@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Neue Montreal Medium";
  src: url("../../public/fonts/PP-Neue-Montreal-Free-for-Personal-Use-v2.6/OTF/PPNeueMontreal-Medium.otf");
}

@font-face {
  font-family: "Neue Montreal Regular";
  src: url("../../public/fonts/PP-Neue-Montreal-Free-for-Personal-Use-v2.6/OTF/PPNeueMontreal-Book.otf");
}

html {
  font-family: "Neue Montreal Medium";
}

* {
  /* outline: 1px black solid; */
}

@keyframes spin {
  0% {
    stroke-width: 20;
    transform: rotate(0deg);
  }
  33% {
    stroke-width: 100;
    transform: rotate(45deg);
  }
  66% {
    stroke-width: 180;
    transform: rotate(90deg);
  }
  100% {
    stroke-width: 20;
    transform: rotate(135deg);
  }
}

@keyframes load {
  0% {
    opacity: 0;
    transform: translate(0, 10px);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
